$primary-color: #58e1c1;
$secondary-color: #d15e5e;
$accent-color: #51ddfc;
$text-color: #777;
$white: #fff;

$tablet-break: 768px;

$btn-colors: (
  'default': #51ddfc,
  'error': #e4757a,
  'info': #927bc1,
  'success': #63cc82,
  'warning': #fd7856,
);
