/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color .5s;
}

@each $key, $color in $btn-colors {
  .btn.#{$key} {
    background-color: $color;
    &:hover {
      background-color: lighten($color, 15%);
    }
  }
}
